<div class="container">
        <div class="col-6"></div>
        <a  href="/ideas">Bright Ideas</a>
        <% if @user %>
            <form class="col-2"action="/sessions/<%=@user.id%>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Log Out">
            </form>
        <% end %>
    </div>

    <div class="container">
        <p>Name: <%= @user.name %></p>
        <p>Alias: <%= @user.alias %></p>
        <p>Email: <%= @user.email %></p>
    </div>

    <div class="container">
        <p>Total Number of Posts: <%= @user.ideas.count %></p>
        <p>Total Number of Likes: <%= @user.likes.count %></p>
    </div>
</div>
