<h1 id="hi">Hi <%= current_user.name.titleize %>!</h1>
<div style="float-right">
    <a href="/logout" data-method="delete">Logout</a>
  <a href="/products">Go to all Products</a>
</div>

<!-- Dashboard code on the page -->
<div class="container">
<h3>Sell products</h3>
  <div class="form-group">
    <form class="" action="/dashboard" method="post">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <span class="name">Product Name:</span>
    <input class="form-control" type="text" id="product" name="shoe[product]">
  </div>

  <div class="form-group">
    <span class="amount">Amount:</span>
    <input class="form-control" type="text" id="amount" name="shoe[price]">
  </div>
<input type="submit" class="btn btn-primary" value="Sell">
</form>
</div>


<!--  Unsold items -->
<div class="container">
  <p>Your products that are not yet sold</p>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Date Posted</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
    </thead>
      <tbody>
        <% @shoes.each do |shoe| %>
        <tr>
          <td><%= shoe.product.titleize %></td>
          <td><%= shoe.created_at.strftime("%B %d, %Y") %></td>
          <td>$<%= shoe.price %></td>
          <td><a href="/products/<%= shoe.id %>" data-method="delete">Remove</a></td>
        </tr>
        <% end %>
      </tbody>
  </table>
</div>

<!-- Sales -->
<div class="container">
  <p>Sales</p>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Date Bought</th>
        <th>Seller</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @sold.each do |shoes| %>
      <tr>
        <td><%= shoes.product.titleize %></td>
        <td><%= shoes.updated_at.strftime("%B %d, %Y") %></td>
        <td><%= shoes.buyer.name.titleize %><%= shoes.buyer.alias.titleize %></td>
        <td>$<%= shoes.price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p class="total">Total: $<%= @total_sold %></p>
</div>


<!-- Purchases -->
<div class="container">
  <p>Purchases</p>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Date Bought</th>
        <th>Buyer</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @purchase.each do |shoe| %>
      <tr>
        <td><%= shoe.product.titleize %></td>
        <td><%= shoe.updated_at.strftime("%B %d, %Y") %></td>
        <td><%= shoe.buyer.name.titleize %> <%= shoe.buyer.alias.titleize %></td>
        <td>$<%= shoe.price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p class="total">Total: $<%= @total_purchase%></p>
</div>
